<mat-nav-list>
  <a mat-list-item [matMenuTriggerFor]="cartografia">
      <mat-icon class="iconLarge"(mouseover) = "animatedIcon($event, 'heartBeat')" (mouseleave) = "unAnimatedIcon($event, 'heartBeat')">map</mat-icon> 
      <span class="nav-caption">CARTOGRAFÍA</span>
  </a>
  <a mat-list-item [matMenuTriggerFor]="analiticas">
      <mat-icon class="iconLarge"(mouseover) = "animatedIcon($event, 'heartBeat')" (mouseleave) = "unAnimatedIcon($event, 'heartBeat')">graphic_eq</mat-icon> 
      <span class="nav-caption">ANALÍTICAS</span>   
  </a>
  <a mat-list-item (click)="goToUnderConstruction()">
      <mat-icon class="iconLarge"(mouseover) = "animatedIcon($event, 'heartBeat')" (mouseleave) = "unAnimatedIcon($event, 'heartBeat')">play_arrow</mat-icon>
      <span class="nav-caption">TIEMPO REAL</span>
  </a>
  <a mat-list-item (click)="goToUnderConstruction()">
      <mat-icon class="iconLarge"(mouseover) = "animatedIcon($event, 'heartBeat')" (mouseleave) = "unAnimatedIcon($event, 'heartBeat')">settings</mat-icon>
      <span class="nav-caption">CONFIGURACIÓN</span>
  </a>
  
  <mat-menu #cartografia="matMenu">
    <button mat-menu-item (click)="goToUnderConstruction()" >
      <mat-icon class="iconLarge"(mouseover) = "animatedIcon($event, 'heartBeat')" (mouseleave) = "unAnimatedIcon($event, 'heartBeat')">terrain</mat-icon>
      Plantas
    </button>
    <button mat-menu-item (click)="goToUnderConstruction()" >
      <mat-icon class="iconLarge"(mouseover) = "animatedIcon($event, 'heartBeat')" (mouseleave) = "unAnimatedIcon($event, 'heartBeat')">place</mat-icon>
      Puntos de interés
    </button>
    <button mat-menu-item (click)="goToUnderConstruction()" >
      <mat-icon class="iconLarge"(mouseover) = "animatedIcon($event, 'heartBeat')" (mouseleave) = "unAnimatedIcon($event, 'heartBeat')">calendar_today</mat-icon>
      Eventos
    </button>
    <button mat-menu-item (click)="goToUnderConstruction()" >
      <mat-icon class="iconLarge"(mouseover) = "animatedIcon($event, 'heartBeat')" (mouseleave) = "unAnimatedIcon($event, 'heartBeat')">directions_walk</mat-icon>
      Rutas
    </button>
  </mat-menu>

  <mat-menu #analiticas="matMenu">
    <button mat-menu-item (click)="goToUnderConstruction()" >
      <mat-icon class="iconLarge"(mouseover) = "animatedIcon($event, 'heartBeat')" (mouseleave) = "unAnimatedIcon($event, 'heartBeat')">supervisor_account</mat-icon>
      Usuarios
    </button>
    <button mat-menu-item (click)="goToUnderConstruction()" >
      <mat-icon class="iconLarge"(mouseover) = "animatedIcon($event, 'heartBeat')" (mouseleave) = "unAnimatedIcon($event, 'heartBeat')">calendar_today</mat-icon>
      Eventos
    </button>
    <button mat-menu-item (click)="goToUnderConstruction()" >
      <mat-icon class="iconLarge"(mouseover) = "animatedIcon($event, 'heartBeat')" (mouseleave) = "unAnimatedIcon($event, 'heartBeat')">flip_to_back</mat-icon>
      Mapas de calor
    </button>
  </mat-menu>
  <div xFlex fxLayout fxLayoutAlign="center">
    <h4>{{this.user.name}}</h4>
  </div>
  <div xFlex fxLayout fxLayoutAlign="center">
    <h4>{{this.user.email}}</h4>
  </div>
</mat-nav-list>

