mat-sidenav-container {
  height : 100vh;
}

main {
  padding: 100px;
}

h1 {
  font-family: "Lucida Console", Monaco, monospace;
}

.icon-large {
  font-size: 48px;
  height: 48px;
  width: 48px;
  line-height: 48px;
}

@media only screen and (max-width: 600px) {
  main {
    padding: 10px;
  }
}