mat-sidenav-container {
  height : 100vh;
}

main {
  padding: 100px;
}

h1 {
  font-family: "Lucida Console", Monaco, monospace;
}

button {
  float: right;
}
.icon-large {
  font-size: 48px;
  height: 48px;
  width: 48px;
  line-height: 48px;
}