<mat-sidenav-container>
    <mat-sidenav #sidenav role="navigation" position="end">
      <app-sidenav (sidenavClose)="sidenav.close()"></app-sidenav>
    </mat-sidenav>
    <mat-sidenav #rightsidenav position="start" id="right-sidenav">
      <app-rigthsidenav (rightsidenavClose)="rightsidenav.close()"></app-rigthsidenav>
    </mat-sidenav>
    <mat-sidenav-content>
      <app-topmenu (sidenavToggle)="sidenav.toggle()" (rightsidenavToggle)="rightsidenav.toggle()"></app-topmenu>
      <main>
        <h1>Tus edificios</h1>
        <mat-accordion  *ngFor="let place of places">
          <mat-expansion-panel (opened)="panelOpenState = true"
                               (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <h4>{{place.info}}</h4>
              </mat-panel-title>
              <mat-panel-description>
                <h4>Click para sacar la info</h4>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div  fxLayout="row" fxLayoutAlign="space-around">
              <h3>Latitud = {{place.lat}}</h3>
              <h3>Longitud = {{place.lng}}</h3>
            </div>
            <button mat-icon-button color="warn">
              <mat-icon class="icon-large" aria-label="Delete current place" (click)="deletePlaceOnCLick(place.id)">delete</mat-icon>
            </button>
          </mat-expansion-panel>
          <mat-divider></mat-divider>
        </mat-accordion>
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>