agm-map {
  height : 90vh;
  color: black;
}

h2 {
  font-family: "Lucida Console", Monaco, monospace;
}

table{
  background-color: rgba(90, 90, 90, 0);
  width: 100%;
}
mat-form-field {
  width: 100%;
}

#form-Places {
  position: absolute;
  left: 50px;
  top: 100px;
  z-index: 100px;
  background-color: rgba(90, 90, 90, 0.842);
  padding: 30px;
  border-radius: 5%;
  width: 30%;
  min-width: 250px;
  padding: 20px 10px;
}

#form-add_place {
  position: absolute;
  left: 50px;
  top: 100px;
  z-index: 100px;
  background-color: rgba(138, 136, 59, 0.842);
  padding: 30px;
  border-radius: 25%;
  width: 250px;
  padding: 20px;
}

button {
  margin-right: 15px;
}

.list {
  height: 100px;
}