mat-nav-list {
  margin-top: 100px;
  // width: 30px;
}

a {
  margin-bottom: 80px;
  text-decoration: underline;
}

a:hover, a:active{
  color: lightgray;
}

.iconLarge {
  font-size: 48px;
  height: 48px;
  width: 48px;
  line-height: 48px;
}