mat-sidenav-container {
  height : 100vh;
}

main {
  padding: 100px;
}

h1, h2 {
  font-family: "Lucida Console", Monaco, monospace;
}

mat-form-field {
  padding-top: 30px;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.example-form-field {
  width: 50%;
}