<mat-toolbar color="primary">
  <div fxFlex fxLayout fxLayoutAlign="start center">
    <a (click)="onToggleRightSidenav()">
      <img src="./assets/images/situm-white-logo.png" alt="logo" height="42" width="42">
    </a>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="end" fxHide.gt-sm>
      <button mat-icon-button (click)="onToggleSidenav()">
        <mat-icon>menu</mat-icon>
      </button>
  </div>
  
  <div fxFlex fxLayout fxLayoutAlign="end" fxHide.sm fxHide.xs>
    <div fxLayout fxLayoutGap="15px" class="navigation-items">
        <button mat-button [matMenuTriggerFor]="cartografia">
            <mat-icon class="iconLarge">map</mat-icon> <span class="nav-caption">CARTOGRAFÍA</span>
        </button>
        <button mat-button [matMenuTriggerFor]="analiticas">
            <mat-icon class="iconLarge">graphic_eq</mat-icon> <span class="nav-caption">ANALÍTICAS</span> 
        </button>
        <button mat-button (click)="goToUnderConstruction()">
            <mat-icon class="iconLarge">play_arrow</mat-icon><span class="nav-caption">TIEMPO REAL</span>
        </button>
        <button mat-button (click)="goToUnderConstruction()">
            <mat-icon class="iconLarge">settings</mat-icon><span class="nav-caption">CONFIGURACIÓN</span>
        </button>
        
        <mat-menu #cartografia="matMenu">
            <button mat-menu-item (click)="goToUnderConstruction()">
              <mat-icon class="iconLarge">terrain</mat-icon>
              Plantas
            </button>
            <button mat-menu-item (click)="goToUnderConstruction()">
              <mat-icon class="iconLarge">place</mat-icon>
              Puntos de interés
            </button>
            <button mat-menu-item (click)="goToUnderConstruction()">
              <mat-icon class="iconLarge">calendar_today</mat-icon>
              Eventos
            </button>
            <button mat-menu-item (click)="goToUnderConstruction()">
              <mat-icon class="iconLarge">directions_walk</mat-icon>
              Rutas
            </button>
          </mat-menu>
        
          <mat-menu #analiticas="matMenu">
            <button mat-menu-item (click)="goToUnderConstruction()">
              <mat-icon class="iconLarge">supervisor_account</mat-icon>
              Usuarios
            </button>
            <button mat-menu-item (click)="goToUnderConstruction()">
              <mat-icon class="iconLarge">calendar_today</mat-icon>
              Eventos
            </button>
            <button mat-menu-item (click)="goToUnderConstruction()">
              <mat-icon class="iconLarge">flip_to_back</mat-icon>
              Mapas de calor
            </button>
          </mat-menu>
    </div>
  </div>
</mat-toolbar>


