<h2 mat-dialog-title>Añadiendo un nuevo lugar</h2>
<h1 mat-dialog-title>Id {{data.id}}</h1>
<h1 mat-dialog-title>Longitud {{data.lng}}</h1>
<h1 mat-dialog-title>Latitud {{data.lat}}</h1>
<div mat-dialog-content>
  <p>Añade una info</p>
  <mat-form-field>
    <input matInput [(ngModel)]="data.info">
  </mat-form-field>
</div>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Crear</button>
</mat-dialog-actions>
